<div class="bg-danger container-fluid">
<nav class="container navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- rubric65 |  User shall see a link to the home page rubric65 1-->
          <!-- rubric69 | Clicking the home page link should take the user to the homepage-->
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!-- rubric66 | User shall see a link to the shopping page -->
          <!-- rubric70 | Clicking the shopping page link should take the user to the shopping page-->
          <a class="nav-link" href="/shopping">Shop</a>
        </li>
        <li class="nav-item">
          <!-- rubric67 | User shall see a link to the cart page -->
          <!-- rubric71 | Clicking the cart page link should take the user to the cart page-->
          <a class="nav-link" href="/cart">Cart</a>
        </li>
         </ul>
  </nav>
</div>