/* rubric79 | CSS used for site styling. No inline CSS permitted and no styling
of HTML elements directly. */
.formWrapper {
    background-color: teal;
    padding: 20px 0 10px;
}
.footerInfo {
    background-color: grey;
    padding: 20px 0 10px;
}
.footerInfo a{
    color:#212529;
}
