 
   <div class="container-fluid footerInfo"> 
      <div class="container">
    <div class="row">
      <!-- rubric73 | User shall see a link to the home page  -->
      <!-- rubric76 | Clicking on the home page link should take the user to the home page -->
      <div class="col-md-3"><a href="/">@Grocery Cloud 2019</a></div>
      <!-- rubric74 | User shall see a link to the about page  -->
      <!-- rubric77 | Clicking on the about page link should take the user to the about page -->
      <div class="col-md-3"><a href="/about">About us</a></div>
       <!-- rubric75 | User shall see a link to the Contact page  -->
      <!-- rubric78 | Clicking on the Contact page link should take the user to the Contact page -->
      <div class="col-md-3"><a href="/contact">Contact us</a></div>
    <div class="col-md-3"><a href="mailto:info@grocerycloud.com">info@grocerycloud.com</a></div>
  </div> 
</div>
</div>