button.btn.btn-success {
    margin-top: 31px;
}
.formWrapper {
    background-color: teal;
    padding: 20px 0 10px;
}
.footerInfo {
    background-color: grey;
    padding: 20px 0 10px;
}
.footerInfo a{
    color:#212529;
}