/* rubric79 | CSS used for site styling. No inline CSS permitted and no styling
of HTML elements directly. */
.bgimage {
    width: 100%;
    height: 300px;
    background: url('../../assets/header_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }
  .header_text {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 55px;
    height: 300px;
    width: 100%;
    padding-top: 80px;
  }
.owl-carousel .item img {
    width: 150px;
    margin: auto;
    padding: 15px;
    background-color: #fff;
    height: 150px;
}
.featuredImgWrapper {
    height: 200px;
    padding: 25px 20px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;

}
.featuredImgWrapper img:hover {
transform: scale(1.2);
}
.owl-carousel .item {
    margin: 10px;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    background: #bdbfbf;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    display: none;
  
}
.overlay p, .overlay p:hover,.overlay:hover{
  text-decoration: none;
    color: initial;
}

.overlay.visible {
    display: block;
}

a.productLink {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
}

a.shopNowBtn {
  background-color: #4b4848;
  color: #efe0e0;
  text-decoration: none;
  padding: 7px 20px;
  position: relative;
  border-radius: 20px;
  font-size: 20px;
  top: 20px;
}
.owl-prev {
  position: absolute;
  left: -40px;
  font-size: 70px !important;
  top: 70px;
  color: red !important;
}
.owl-next {
  position: absolute;
  right: -40px;
  font-size: 70px !important;
  top: 70px;
  color: red !important;
}



.owl-theme .owl-nav [class*='owl-']:hover {
  background: none;
}
.featuredItemTitle { 
  text-align: center;
  padding: 20px 0 40px;
}