<section class="bgimage">
    <div class="container-fluid">
      <div class="row">
        <div class="header_text">
          <h1>Grocery Cloud</h1>
          <h2>Welcome to our online Grocerys store!</h2>        
        <a class="shopNowBtn" href="/shop">SHOP NOW</a>
      </div>
      </div>
    </div>
  </section>
  <div *ngIf="featuredItem.length > 1; else elseBlock">

    <div class="container">
      <div class="featuredItemTitle row">  
        <div class="col-md-12">
      <h3>Best effordable products</h3>
      <h5>Here you can find our top rated products only at maximum price of 3$</h5>
    </div>
  </div>
  <owl-carousel
[options]="{items: 5, dots: true, nav: true}"
[items]="featuredItem"
[carouselClasses]="['owl-theme']">
<div class="item" *ngFor="let featured of featuredItem;let i = index">
    <h5>{{featured.name}}</h5>

<div class="featuredImgWrapper">
  <img [src]="featured.imagelink" />
<!-- <div class="featuredImgWrapper"><img (load)="dosomething($event)" [src]="featured.imagelink" /> -->
  <div class="overlay">
    <p>{{featured.description}}</p>  
    <a class="productLink" [routerLink]="['/product/' + featured.name]">View Product</a>

  </div>
 </div>
    <p>price is: ${{featured.price}}</p>
</div>
</owl-carousel>
</div>
<ng-template #elseBlock>Loading...</ng-template>

  
</div>

