<div *ngIf="favoriteItems; else elseBlock">
<div *ngFor="let fav of favoriteItems; index as i;">                    
  <h4>{{fav.name}}</h4>
</div>
</div>
<ng-template #elseBlock>Loading...</ng-template>

<!-- <div *ngIf="searchResults; else elseBlock">
  <div *ngFor="let result of searchResults;">
    <div *ngFor="let subcategories of result.subcategories; index as i; ">
        <ul>
            <li *ngFor="let products of subcategories.items; index as i;">
              <p>price is: {{products.price}}</p>
                <img width=50 [src]="products.imagelink" /> 
                <h4>{{products.name}}</h4>
              <p> category is: {{products.category}}</p> 
              <p> rating is: {{products.rating}}</p> 
              <p> stock is: {{products.stock}}</p> 
              <p> sub category is: {{products.subcategory}}</p>                 
            </li>
        </ul>
    </div>
  </div>
</div>
    <ng-template #elseBlock>Loading...</ng-template> -->
  