<div class="container">
  <div class="row">
    <div class="pageTitle col-md-12">
<h1>Your Cart</h1>
    </div>
  
<div *ngIf="cartArray.length > 0; else elseBlockCart;" class="container">
<div >
  <table class="table">
    <thead>
        <th scope="col">Product Name </th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </thead>
      <tr>  
  <tr class="item" *ngFor="let cartItem of cartArray;let i = index">
      
<td>          
      <a class="ViewProductBtn" [routerLink]="['/product/' + cartItem.addToCartItem.name]">{{cartItem.addToCartItem.name}}  </a>
</td>
<td><img width=50 [src]="cartItem.addToCartItem.imagelink" /></td>
<td>{{cartItem.addToCartItem.price}}$</td>
<td><input ng-model="qntInput" class="qntInput" type="number" min="1" max="100" (input)="quantityFunction($event.target.value)" value="{{cartItem.quantValue}}"/>
  <button (click)="UpdateCart(cartItem.addToCartItem)" >Update Cart</button>
</td>
<td>{{calcLineItem(cartItem.quantValue,cartItem.addToCartItem.price)}}$</td>
<th><button (click)="DeleteObject(cartItem.addToCartItem)" >Delete</button> </th>


      </tr>
    </table>
    </div>

<div class="cartTotal col-md-4 offset-4">
  <table class="table">
    <tr>
      <td scope="col">Subtotal cost:</td>
      <td scope="col">{{CalcSubTotal()}}$</td>
    </tr>
    <tr>
      <td scope="col">Tax addition:(17%)</td>
      <td>{{calcTaxes()}}$</td>
    </tr>
    <tr>
        <td scope="col">Shipping cost:</td>
        <td>{{ShippingValue}}$</td>
      </tr>
    <tr>
        <td scope="col">Cart Total:</td>
        <td>{{cartTotalFunc()}}$</td>
      </tr>
  </table>
</div>
<button class="CheckoutBtn" (click)="Checkout()">Checkout</button>


</div>
</div>
</div>
<ng-template #elseBlockCart>
  <div class="container">
      <div class="msg">cart is epmty..<br>
      Add some products first.<br>
    <a href="/shop">Go to our Shop</a></div>
  </div>
</ng-template>
