<div class="container">
    <div class="row">
      <div class="sideMenu col-md-3">
        <div *ngFor="let result of searchResults; index as i;">
          <div>
              <button type="button" class="btn btn-outline-primary" (click)="isCollapsed[i] = !isCollapsed[i]"
            [attr.aria-expanded]="!isCollapsed[i]" [attr.aria-controls]="'collapse'+i">
            <p><strong>{{result.category}}</strong></p>
    </button>
            <div *ngFor="let subcategory of result.subcategories">
          <div [attr.id]="'collapse'+i" [ngbCollapse]="!isCollapsed[i]">
              <div>
                <div>
                    <a (click)="alert(subcategory.name);">{{subcategory.name}}</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
      <div class="products col-md-9">
          <pre>Current page: {{page}}</pre>         
          <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="allProducts.length"></ngb-pagination>   
<div *ngIf="allProducts; else elseBlock" class="row">
                
            <div class="col-md-4 item" *ngFor="let product of allProducts | subcategoryFilter:subcategoryFilterArgs | slice: ((page-1) * pageSize) : ((page-1) * pageSize) + pageSize;">
              <a [routerLink]="['/product/' + product.name]">add to cart</a>
              <p>price is: {{product.price}}</p>
                <img width=50 [src]="product.imagelink" /> 
                <h4>{{product.name}}</h4>
              <p> category is: {{product.category}}</p> 
              <p> rating is: {{product.rating}}</p> 
              <p> stock is: {{product.stock}}</p> 
              <p> sub category is: {{product.subcategory}}</p>               
            </div>
          

</div>  
    <ng-template #elseBlock>Loading...</ng-template> 
  </div>
</div>
</div>

